body{
    padding: 2em;
    font-family:Arial, Helvetica, sans-serif;
}

li{
    padding: .8em;
}

a{
    background: lavender;
    border-radius: .5em;
    padding: .5em;
    text-decoration: none;
    color: black;
}

.overdrive{
    background: none;
    text-decoration: underline;
    color: darkorchid;
}

.hidden{
    color: dimgray;
    display: inline;
}

.error{
    color: red;
    display: inline;
}


