<head>
    <title>Wear a Helmet</title>
    <ul>
        {%for l in libraries%}
            <li>
                {{l}}
            </li>
        {%endfor%}
    </ul>
    <form action="/add_library" method="POST">
        <input type="text" placeholder="Kirjaston nimi" name="library">
        <input type="hidden" name="libraries" value="{{libraries}}">
        <input type="submit" value="Lisää"><br>
    </form>
    <form action="/search" method="POST">
        <input type="submit" value="Hae">
        <input type="hidden" name="libraries" value="{{libraries}}">
    </form>
</head>
<body>

</body>
