<head>
    <title>Wear a Helmet</title>
</head>
<body>
    <a href="/">Haku</a>
    <a href="/pieces">Teokset</a>
    <h1>Hae kirjastoista:</h1>
    <ul>
        {%for l in libraries%}
            <li>
                {{l}}
                <form action="/delete_library" method="POST">
                    <input type="submit" value="Poista">
                    <input type="hidden" name="library" value="{{l}}">
                    <input type="hidden" name="libraries" value="{{libraries}}">
                </form>
            </li>
        {%endfor%}
    </ul>
    <form action="/add_library" method="POST">
        <input type="text" placeholder="Kirjaston nimi" name="library">
        <input type="hidden" name="libraries" value="{{libraries}}">
        <input type="submit" value="Lisää"><br>
    </form>
    {%if invalid_name%}
        <i>Kirjaston nimi ei ole kelvollinen</i>
    {%endif%}
    <form action="/search" method="POST">
        <input type="submit" value="Hae">
        <input type="hidden" name="libraries" value="{{libraries}}">
    </form>
</body>
