<head>
    <title>Wear a Helmet</title>
</head>
<body>
    <a href="/">Haku</a>
    <a href="/pieces">Teokset</a>
    <h1>{{piece.title}}</h1>
    {%if new_name%}
        <form action="/update_name" method="POST">
            <input type="text" placeholder="Uusi nimi..." name="new_name">
            <input type="hidden" value="{{piece.id}}" name="id">
            <input type="submit" value="Päivitä">
        </form>
    {%else%}
        <a href="/edit_name/{{piece.id}}">Nimeä uudelleen</a>
    {%endif%}
    <h3>Linkit:</h3>
    <form action="/add_link" method="POST">
        <input type="text" size="40" placeholder="Linkki Helmet-kirjaston teokseen" name="link">
        <input type="hidden" value="{{piece.id}}" name="id">
        <input type="submit" value="Lisää">
    </form>
    {%if invalid_link%}
        <i>Linkki ei ole kelvollinen</i>
    {%endif%}
    <ul>
        {%for link in piece_links%}
        <li>
            <a href="{{link.link}}">{{link.link}}</a>
            <a href="/delete_link/{{piece.id}}/{{link.id}}">Poista</a>
        </li>
        {%endfor%}
    </ul>
</body>
